@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
  background: #effafa;
  font-size: 15px;
}

.jobs-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.job-container {
  list-style-type: none;
  background-color: white;
  width: 90%;
  margin: 0 auto;
  filter: drop-shadow(0px 0px 10px #00000020);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 0 1.25rem 1.25rem 1.25rem;
  border-radius: 5px;
}

.company-logos {
  width: 48px;
  margin-top: -24px;
}

.job-name-container {
  font-size: 1rem;
  font-weight: 500;
  color: #5ca5a5;
}

.job-info-container {
  color: #7c8f8f;
  font-size: 1.066rem;
}

.button-container {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.info-button {
  color: #5ca5a5;
  background: #5ca5a520;
  font-size: 1.066rem;
  border-radius: 5px;
  border: none;
  padding: 16px 16px 14px 16px;
  font-weight: 700;
  transition: 0.3s;
}

.info-button:hover {
  cursor: pointer;
  background: #5ca5a5;
  color: white;
}

header {
  height: 156px;
  background-color: #5ca5a5;
  background-image: url("/public/images/bg-header-mobile.svg");
}

.job-details-buttons-container {
  width: 90%;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-top: -30px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap:1rem;
  color: #5ca5a5;
  padding:1.25rem;
  flex-wrap: wrap;
}

.job-details-button-container {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:1rem;
  background: #5ca5a520;
  border-radius: 5px;
  font-size: 1.066rem;
  font-weight:700;
  padding-left:1rem;
}


.job-details-button {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 16px 16px 14px 16px;
}

.divider {
  height: 2px;
  background: #b7c4c4;
  width: 100%;
}
